ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline;
    margin-right: 10px; /* Adjust as needed */
}

.large-container {
    margin: 20px 0;
    padding: 20px;
    background-color: #d9e1d7; /* Light grey background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.large-container h2 {
    margin-bottom: 15px;
}

.large-container p {
    margin-bottom: 0;
}
.full-width-card {
    margin: 20px 0;
    padding: 20px;
    background-color: #023943; /* or any color you prefer */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; /* Ensures it takes full width */
    height: auto; /* Adjust height as needed */
  }
  
  .full-width-card-img-top {
    width: 100%; /* Make the image responsive */
    height: 400px; /* Maintain aspect ratio */
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .full-width-card-body {
    padding: 1.25rem;
  }
  
  .full-width-card-title {
    margin-bottom: 0.75rem;
    font-size: 1.5rem; /* Larger title size */
  }
  
  .full-width-card-text {
    margin-bottom: 1.25rem;
    font-size: 1rem;
  }
  